In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('weather.csv')
df

,Data.Precipitation,Date.Full,Date.Month,Date.Week of,Date.Year,Station.City,Station.Code,Station.Location,Station.State,Data.Temperature.Avg Temp,Data.Temperature.Max Temp,Data.Temperature.Min Temp,Data.Wind.Direction,Data.Wind.Speed
0,0.00,2016-01-03,1,3,2016,Birmingham,BHM,"Birmingham, AL",Alabama,39,46,32,33,4.33
1,0.00,2016-01-03,1,3,2016,Huntsville,HSV,"Huntsville, AL",Alabama,39,47,31,32,3.86
2,0.16,2016-01-03,1,3,2016,Mobile,MOB,"Mobile, AL",Alabama,46,51,41,35,9.73
3,0.00,2016-01-03,1,3,2016,Montgomery,MGM,"Montgomery, AL",Alabama,45,52,38,32,6.86
4,0.01,2016-01-03,1,3,2016,Anchorage,ANC,"Anchorage, AK",Alaska,34,38,29,19,7.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16738,0.08,2017-01-01,1,1,2017,Casper,CPR,"Casper, WY",Wyoming,23,32,15,23,19.98
16739,0.00,2017-01-01,1,1,2017,Cheyenne,CYS,"Cheyenne, WY",Wyoming,32,42,21,26,15.16
16740,0.00,2017-01-01,1,1,2017,Lander,LND,"Lander, WY",Wyoming,17,29,4,26,1.65
16741,0.06,2017-01-01,1,1,2017,Rawlins,RWL,"Rawlins, WY",Wyoming,23,31,13,24,18.16
16742,0.10,2017-01-01,1,1,2017,Sheridan,SHR,"Sheridan, WY",Wyoming,21,34,8,23,7.51

# Get column/row

In [3]:
df.columns

Index(['Data.Precipitation', 'Date.Full', 'Date.Month', 'Date.Week of',
       'Date.Year', 'Station.City', 'Station.Code', 'Station.Location',
       'Station.State', 'Data.Temperature.Avg Temp',
       'Data.Temperature.Max Temp', 'Data.Temperature.Min Temp',
       'Data.Wind.Direction', 'Data.Wind.Speed'],
      dtype='object')

In [5]:
df[['Date.Year','Date.Full']]

       Date.Year   Date.Full
0           2016  2016-01-03
1           2016  2016-01-03
2           2016  2016-01-03
3           2016  2016-01-03
4           2016  2016-01-03
...          ...         ...
16738       2017  2017-01-01
16739       2017  2017-01-01
16740       2017  2017-01-01
16741       2017  2017-01-01
16742       2017  2017-01-01

[16743 rows x 2 columns]

In [7]:
df[['Date.Year','Date.Full']][0:10].values

array([[2016, '2016-01-03'],
       [2016, '2016-01-03'],
       [2016, '2016-01-03'],
       [2016, '2016-01-03'],
       [2016, '2016-01-03'],
       [2016, '2016-01-03'],
       [2016, '2016-01-03'],
       [2016, '2016-01-03'],
       [2016, '2016-01-03'],
       [2016, '2016-01-03']], dtype=object)

In [8]:
df[['Date.Year','Date.Full']][0:10].index

RangeIndex(start=0, stop=10, step=1)

In [12]:
list(df[['Date.Year','Date.Full']][0:10].values)[2:]

[array([2016, '2016-01-03'], dtype=object),
 array([2016, '2016-01-03'], dtype=object),
 array([2016, '2016-01-03'], dtype=object),
 array([2016, '2016-01-03'], dtype=object),
 array([2016, '2016-01-03'], dtype=object),
 array([2016, '2016-01-03'], dtype=object),
 array([2016, '2016-01-03'], dtype=object),
 array([2016, '2016-01-03'], dtype=object)]

# loc

In [15]:
df.loc[20:30][['Date.Full','Date.Year']]

     Date.Full  Date.Year
20  2016-01-03       2016
21  2016-01-03       2016
22  2016-01-03       2016
23  2016-01-03       2016
24  2016-01-03       2016
25  2016-01-03       2016
26  2016-01-03       2016
27  2016-01-03       2016
28  2016-01-03       2016
29  2016-01-03       2016
30  2016-01-03       2016

In [16]:
df.loc[20:30][['Date.Full','Date.Year']].values

array([['2016-01-03', 2016],
       ['2016-01-03', 2016],
       ['2016-01-03', 2016],
       ['2016-01-03', 2016],
       ['2016-01-03', 2016],
       ['2016-01-03', 2016],
       ['2016-01-03', 2016],
       ['2016-01-03', 2016],
       ['2016-01-03', 2016],
       ['2016-01-03', 2016],
       ['2016-01-03', 2016]], dtype=object)

In [17]:
df.loc[20:30][['Date.Full','Date.Year']].index

RangeIndex(start=20, stop=31, step=1)

In [21]:
list(df.loc[20:30][['Date.Full','Date.Year']].values)[-1]

array(['2016-01-03', 2016], dtype=object)

# Condition

In [23]:
df['Date.Year']==2016

0         True
1         True
2         True
3         True
4         True
         ...
16738    False
16739    False
16740    False
16741    False
16742    False
Name: Date.Year, Length: 16743, dtype: bool

In [25]:
df.loc[(df['Date.Year']==2016)&(df['Date.Month']>6)]

,Data.Precipitation,Date.Full,Date.Month,Date.Week of,Date.Year,Station.City,Station.Code,Station.Location,Station.State,Data.Temperature.Avg Temp,Data.Temperature.Max Temp,Data.Temperature.Min Temp,Data.Wind.Direction,Data.Wind.Speed
8209,0.00,2016-07-03,7,3,2016,Birmingham,BHM,"Birmingham, AL",Alabama,84,97,70,27,3.50
8210,0.06,2016-07-03,7,3,2016,Huntsville,HSV,"Huntsville, AL",Alabama,82,95,68,28,3.00
8211,0.00,2016-07-03,7,3,2016,Mobile,MOB,"Mobile, AL",Alabama,84,94,74,24,3.86
8212,0.00,2016-07-03,7,3,2016,Montgomery,MGM,"Montgomery, AL",Alabama,86,99,72,23,2.76
8213,0.35,2016-07-03,7,3,2016,Anchorage,ANC,"Anchorage, AK",Alaska,59,63,55,23,2.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16421,0.39,2016-12-25,12,25,2016,Casper,CPR,"Casper, WY",Wyoming,27,37,16,24,15.61
16422,0.04,2016-12-25,12,25,2016,Cheyenne,CYS,"Cheyenne, WY",Wyoming,34,45,23,24,10.85
16423,0.33,2016-12-25,12,25,2016,Lander,LND,"Lander, WY",Wyoming,19,32,6,23,2.31
16424,0.36,2016-12-25,12,25,2016,Rawlins,RWL,"Rawlins, WY",Wyoming,27,37,17,23,13.72
16425,0.30,2016-12-25,12,25,2016,Sheridan,SHR,"Sheridan, WY",Wyoming,18,34,3,23,5.64

In [27]:
df.loc[(df['Date.Year']==2016)&(df['Date.Month']>6)][['Station.City','Station.Code']]

      Station.City Station.Code
8209    Birmingham          BHM
8210    Huntsville          HSV
8211        Mobile          MOB
8212    Montgomery          MGM
8213     Anchorage          ANC
...            ...          ...
16421       Casper          CPR
16422     Cheyenne          CYS
16423       Lander          LND
16424      Rawlins          RWL
16425     Sheridan          SHR

[8217 rows x 2 columns]

In [28]:
df.loc[(df['Date.Year']==2016)&(df['Date.Month']>6)][['Station.City','Station.Code']].values

array([['Birmingham', 'BHM'],
       ['Huntsville', 'HSV'],
       ['Mobile', 'MOB'],
       ...,
       ['Lander', 'LND'],
       ['Rawlins', 'RWL'],
       ['Sheridan', 'SHR']], dtype=object)

In [29]:
df.loc[(df['Date.Year']==2016)&(df['Date.Month']>6)][['Station.City','Station.Code']].index

Int64Index([ 8209,  8210,  8211,  8212,  8213,  8214,  8215,  8216,  8217,
             8218,
            ...
            16416, 16417, 16418, 16419, 16420, 16421, 16422, 16423, 16424,
            16425],
           dtype='int64', length=8217)

In [32]:
list(df.loc[(df['Date.Year']==2016)&(df['Date.Month']>6)][['Station.City','Station.Code']].values)[5:]

[array(['Annette', 'ANN'], dtype=object),
 array(['Bethel', 'BET'], dtype=object),
 array(['Bettles', 'BTT'], dtype=object),
 array(['Cold Bay', 'CDB'], dtype=object),
 array(['Cordova', 'CDV'], dtype=object),
 array(['Delta Junction/Ft Greely', 'BIG'], dtype=object),
 array(['Fairbanks', 'FAI'], dtype=object),
 array(['Gulkana', 'GKN'], dtype=object),
 array(['Gustavus', 'GST'], dtype=object),
 array(['Homer', 'HOM'], dtype=object),
 array(['Iliamna', 'ILI'], dtype=object),
 array(['Juneau', 'JNU'], dtype=object),
 array(['Kenai', 'ENA'], dtype=object),
 array(['Ketchikan', 'KTN'], dtype=object),
 array(['King Salmon', 'AKN'], dtype=object),
 array(['Kodiak', 'ADQ'], dtype=object),
 array(['Kotzebue', 'OTZ'], dtype=object),
 array(['Mc Grath', 'MCG'], dtype=object),
 array(['Nome', 'OME'], dtype=object),
 array(['Northway', 'ORT'], dtype=object),
 array(['Palmer', 'PAQ'], dtype=object),
 array(['Petersburg', 'PSG'], dtype=object),
 array(['Puntilla Lake', 'PTI'], dtype=object),
 array(['Shemya', 'SYA'], dtype=object),
 array(['Sitka', 'SIT'], dtype=object),
 array(['Skagway', 'SGY'], dtype=object),
 array(['St Paul Island', 'SNP'], dtype=object),
 array(['Talkeetna', 'TKA'], dtype=object),
 array(['Tanana', 'TAL'], dtype=object),
 array(['Utqiagvik (Barrow)', 'BRW'], dtype=object),
 array(['Yakutat', 'YAK'], dtype=object),
 array(['Douglas Bisbee', 'DUG'], dtype=object),
 array(['Kingman', 'IGM'], dtype=object),
 array(['Phoenix', 'PHX'], dtype=object),
 array(['Tucson', 'TUS'], dtype=object),
 array(['Winslow', 'INW'], dtype=object),
 array(['Fort Smith', 'FSM'], dtype=object),
 array(['Harrison', 'HRO'], dtype=object),
 array(['North Little Rock', 'LZK'], dtype=object),
 array(['Bakersfield', 'BFL'], dtype=object),
 array(['Bishop', 'BIH'], dtype=object),
 array(['China Lake', 'NID'], dtype=object),
 array(['Concord', 'CCR'], dtype=object),
 array(['Eureka', 'EKA'], dtype=object),
 array(['Fresno', 'FAT'], dtype=object),
 array(['Hayward', 'HWD'], dtype=object),
 array(['Long Beach', 'LGB'], dtype=object),
 array(['Los Angeles', 'LAX'], dtype=object),
 array(['Red Bluff', 'RBL'], dtype=object),
 array(['Redding', 'RDD'], dtype=object),
 array(['Sacramento', 'SAC'], dtype=object),
 array(['Salinas', 'SNS'], dtype=object),
 array(['San Diego', 'SAN'], dtype=object),
 array(['San Francisco', 'SFO'], dtype=object),
 array(['Sandberg', 'SDB'], dtype=object),
 array(['Santa Barbara', 'SBA'], dtype=object),
 array(['Santa Maria', 'SMX'], dtype=object),
 array(['Stockton', 'SCK'], dtype=object),
 array(['Alamosa', 'ALS'], dtype=object),
 array(['Colorado Springs', 'COS'], dtype=object),
 array(['Craig', 'CAG'], dtype=object),
 array(['Denver', 'DEN'], dtype=object),
 array(['Grand Junction', 'GJT'], dtype=object),
 array(['Pueblo', 'PUB'], dtype=object),
 array(['Bridgeport', 'BDR'], dtype=object),
 array(['Windsor Locks', 'BDL'], dtype=object),
 array(['Newark', 'NWK'], dtype=object),
 array(['Wilmington', 'ILG'], dtype=object),
 array(['Daytona Beach', 'DAB'], dtype=object),
 array(['Fort Lauderdale', 'FLL'], dtype=object),
 array(['Gainesville', 'GNV'], dtype=object),
 array(['Jacksonville', 'JAX'], dtype=object),
 array(['Key West', 'EYW'], dtype=object),
 array(['Miami', 'MIA'], dtype=object),
 array(['Orlando', 'MCO'], dtype=object),
 array(['Pensacola', 'PNS'], dtype=object),
 array(['Tallahassee', 'TLH'], dtype=object),
 array(['Tampa', 'TPA'], dtype=object),
 array(['Vero Beach', 'VRB'], dtype=object),
 array(['West Palm Beach', 'PBI'], dtype=object),
 array(['Alma', 'AMG'], dtype=object),
 array(['Athens', 'AHN'], dtype=object),
 array(['Atlanta', 'ATL'], dtype=object),
 array(['Augusta', 'AGS'], dtype=object),
 array(['Macon', 'MCN'], dtype=object),
 array(['Savannah', 'SAV'], dtype=object),
 array(['Hilo', 'ITO'], dtype=object),
 array(['Honolulu', 'HNL'], dtype=object),
 array(['Kahului', 'OGG'], dtype=object),
 array(['Kaunakakai', 'MKK'], dtype=object),
 array(['Lihue', 'LIH'], dtype=object),
 array(['Boise', 'BOI'], dtype=object),
 array(['Lewiston', 'LWS'], dtype=object),
 array(['Pocatello', 'PIH'], dtype=object),
 array(['Chicago', 'ORD'], dtype=object),
 array(['Moline', 'MLI'], dtype=object),
 array(['Peoria', 'PIA'], dtype=object),
 array(['Quincy', 'UIN'], dtype=object),
 array(['Rockford', 'RFD'], dtype=object),
 array(['Springfield', 'SPI'], dtype=object),
 array(['Evansville', 'EVV'], dtype=object),
 array(['Fort Wayne', 'FWA'], dtype=object),
 array(['Indianapolis', 'IND'], dtype=object),
 array(['South Bend', 'SBN'], dtype=object),
 array(['Cedar Rapids', 'CID'], dtype=object),
 array(['Des Moines', 'DSM'], dtype=object),
 array(['Dubuque', 'DBQ'], dtype=object),
 array(['Sioux City', 'SUX'], dtype=object),
 array(['Waterloo', 'ALO'], dtype=object),
 array(['Concordia', 'CNK'], dtype=object),
 array(['Dodge City', 'DDC'], dtype=object),
 array(['Goodland', 'GLD'], dtype=object),
 array(['Medicine Lodge', 'P28'], dtype=object),
 array(['Topeka', 'TOP'], dtype=object),
 array(['Wichita', 'ICT'], dtype=object),
 array(['Covington', 'CVG'], dtype=object),
 array(['Jackson', 'JKL'], dtype=object),
 array(['Lexington', 'LEX'], dtype=object),
 array(['Louisville', 'SDF'], dtype=object),
 array(['Paducah', 'PAH'], dtype=object),
 array(['Baton Rouge', 'BTR'], dtype=object),
 array(['Lake Charles', 'LCH'], dtype=object),
 array(['New Orleans', 'MSY'], dtype=object),
 array(['Shreveport', 'SHV'], dtype=object),
 array(['Slidell', 'ASD'], dtype=object),
 array(['Bangor', 'BGR'], dtype=object),
 array(['Caribou', 'CAR'], dtype=object),
 array(['Portland', 'PWM'], dtype=object),
 array(['Baltimore', 'BWI'], dtype=object),
 array(['Salisbury', 'SBY'], dtype=object),
 array(['Boston', 'BOS'], dtype=object),
 array(['Milton', 'MQE'], dtype=object),
 array(['Worcester', 'ORH'], dtype=object),
 array(['Alpena', 'APN'], dtype=object),
 array(['Detroit', 'DTW'], dtype=object),
 array(['Flint', 'FNT'], dtype=object),
 array(['Grand Rapids', 'GRR'], dtype=object),
 array(['Houghton Lake', 'HTL'], dtype=object),
 array(['Lansing', 'LAN'], dtype=object),
 array(['Marquette', 'MQT'], dtype=object),
 array(['Muskegon', 'MKG'], dtype=object),
 array(['Sault Ste Marie', 'ANJ'], dtype=object),
 array(['Duluth', 'DLH'], dtype=object),
 array(['International Falls', 'INL'], dtype=object),
 array(['Minneapolis', 'MSP'], dtype=object),
 array(['Rochester', 'RST'], dtype=object),
 array(['St Cloud', 'STC'], dtype=object),
 array(['Greenville', 'GLH'], dtype=object),
 array(['Greenwood', 'GWO'], dtype=object),
 array(['Gulfport', 'GPT'], dtype=object),
 array(['Hattiesburg', 'HBG'], dtype=object),
 array(['Jackson', 'JAN'], dtype=object),
 array(['Meridian', 'MEI'], dtype=object),
 array(['Tupelo', 'TUP'], dtype=object),
 array(['Cape Girardeau', 'CGI'], dtype=object),
 array(['Columbia', 'COU'], dtype=object),
 array(['Kansas City', 'MCI'], dtype=object),
 array(['Rolla/Vichy', 'VIH'], dtype=object),
 array(['Springfield', 'SGF'], dtype=object),
 array(['St Joseph', 'STJ'], dtype=object),
 array(['St Louis', 'STL'], dtype=object),
 array(['Billings', 'BIL'], dtype=object),
 array(['Butte', 'BTM'], dtype=object),
 array(['Cut Bank', 'CTB'], dtype=object),
 array(['Dillon', 'DLN'], dtype=object),
 array(['Glasgow', 'GGW'], dtype=object),
 array(['Great Falls', 'GTF'], dtype=object),
 array(['Havre', 'HVR'], dtype=object),
 array(['Helena', 'HLN'], dtype=object),
 array(['Kalispell', 'GPI'], dtype=object),
 array(['Miles City', 'MLS'], dtype=object),
 array(['Missoula', 'MSO'], dtype=object),
 array(['Grand Island', 'GRI'], dtype=object),
 array(['Lincoln', 'LNK'], dtype=object),
 array(['Norfolk', 'OFK'], dtype=object),
 array(['North Platte', 'LBF'], dtype=object),
 array(['Omaha', 'OMA'], dtype=object),
 array(['Scottsbluff', 'BFF'], dtype=object),
 array(['Sidney', 'SNY'], dtype=object),
 array(['Valentine', 'VTN'], dtype=object),
 array(['Ely', 'ELY'], dtype=object),
 array(['Eureka', 'P68'], dtype=object),
 array(['Las Vegas', 'LAS'], dtype=object),
 array(['Mercury', 'DRA'], dtype=object),
 array(['Reno', 'RNO'], dtype=object),
 array(['Winnemucca', 'WMC'], dtype=object),
 array(['Concord', 'CON'], dtype=object),
 array(['Mt. Washington', 'MWN'], dtype=object),
 array(['Atlantic City', 'ACY'], dtype=object),
 array(['Newark', 'EWR'], dtype=object),
 array(['Albuquerque', 'ABQ'], dtype=object),
 array(['Clayton', 'CAO'], dtype=object),
 array(['Roswell', 'ROW'], dtype=object),
 array(['Albany', 'ALB'], dtype=object),
 array(['Binghamton', 'BGM'], dtype=object),
 array(['Buffalo', 'BUF'], dtype=object),
 array(['Glens Falls', 'GFL'], dtype=object),
 array(['Islip', 'ISP'], dtype=object),
 array(['New York', 'LGA'], dtype=object),
 array(['Rochester', 'ROC'], dtype=object),
 array(['Syracuse', 'SYR'], dtype=object),
 array(['Asheville', 'AVL'], dtype=object),
 array(['Cape Hatteras', 'HSE'], dtype=object),
 array(['Charlotte', 'CLT'], dtype=object),
 array(['Greensboro', 'GSO'], dtype=object),
 array(['Hickory', 'HKY'], dtype=object),
 array(['Raleigh/Durham', 'RDU'], dtype=object),
 array(['Wilmington', 'ILM'], dtype=object),
 array(['Bismarck', 'BIS'], dtype=object),
 array(['Dickinson', 'DIK'], dtype=object),
 array(['Fargo', 'FAR'], dtype=object),
 array(['Grand Forks', 'GFK'], dtype=object),
 array(['Williston', 'ISN'], dtype=object),
 array(['Akron', 'CAK'], dtype=object),
 array(['Cleveland', 'CLE'], dtype=object),
 array(['Columbus', 'CMH'], dtype=object),
 array(['Dayton', 'DAY'], dtype=object),
 array(['Mansfield', 'MFD'], dtype=object),
 array(['Toledo', 'TOL'], dtype=object),
 array(['Youngstown/Warren', 'YNG'], dtype=object),
 array(['Gage', 'GAG'], dtype=object),
 array(['Oklahoma City', 'OKC'], dtype=object),
 array(['Ponca City', 'PNC'], dtype=object),
 array(['Tulsa', 'TUL'], dtype=object),
 array(['Astoria', 'AST'], dtype=object),
 array(['Burns', 'BNO'], dtype=object),
 array(['Eugene', 'EUG'], dtype=object),
 array(['Medford', 'MFR'], dtype=object),
 array(['Pendleton', 'PDT'], dtype=object),
 array(['Portland', 'PDX'], dtype=object),
 array(['Redmond', 'RDM'], dtype=object),
 array(['Salem', 'SLE'], dtype=object),
 array(['Allentown', 'ABE'], dtype=object),
 array(['Erie', 'ERI'], dtype=object),
 array(['Harrisburg', 'MDT'], dtype=object),
 array(['Philadelphia', 'PHL'], dtype=object),
 array(['Pittsburgh', 'PIT'], dtype=object),
 array(['Wilkes-Barre/Scranton', 'AVP'], dtype=object),
 array(['Williamsport', 'IPT'], dtype=object),
 array(['San Juan', 'SJU'], dtype=object),
 array(['Providence', 'PVD'], dtype=object),
 array(['Anderson', 'AND'], dtype=object),
 array(['Charleston', 'CHS'], dtype=object),
 array(['Columbia', 'CAE'], dtype=object),
 array(['Greer', 'GSP'], dtype=object),
 array(['Aberdeen', 'ABR'], dtype=object),
 array(['Huron', 'HON'], dtype=object),
 array(['Pierre', 'PIR'], dtype=object),
 array(['Rapid City', 'RAP'], dtype=object),
 array(['Sioux Falls', 'FSD'], dtype=object),
 array(['Bristol/Jhnsn Cty/Kngsprt', 'TRI'], dtype=object),
 array(['Chattanooga', 'CHA'], dtype=object),
 array(['Clarksville', 'CKV'], dtype=object),
 array(['Crossville', 'CSV'], dtype=object),
 array(['Knoxville', 'TYS'], dtype=object),
 array(['Memphis', 'MEM'], dtype=object),
 array(['Nashville', 'BNA'], dtype=object),
 array(['Oak Ridge', 'OQT'], dtype=object),
 array(['Abilene', 'ABI'], dtype=object),
 array(['Amarillo', 'AMA'], dtype=object),
 array(['Austin/Bergstrom', 'AUS'], dtype=object),
 array(['Austin/City', 'ATT'], dtype=object),
 array(['Beaumont/Port Arthur', 'BPT'], dtype=object),
 array(['Brownsville', 'BRO'], dtype=object),
 array(['Childress', 'CDS'], dtype=object),
 array(['College Station', 'CLL'], dtype=object),
 array(['Corpus Christi', 'CRP'], dtype=object),
 array(['Dalhart', 'DHT'], dtype=object),
 array(['Dallas', 'DAL'], dtype=object),
 array(['Dallas-Fort Worth', 'DFW'], dtype=object),
 array(['Del Rio', 'DRT'], dtype=object),
 array(['El Paso', 'ELP'], dtype=object),
 array(['Fort Worth', 'FTW'], dtype=object),
 array(['Galveston', 'GLS'], dtype=object),
 array(['Houston', 'HOU'], dtype=object),
 array(['Lubbock', 'LBB'], dtype=object),
 array(['Midland', 'MAF'], dtype=object),
 array(['San Angelo', 'SJT'], dtype=object),
 array(['San Antonio', 'SAT'], dtype=object),
 array(['Victoria', 'VCT'], dtype=object),
 array(['Waco', 'ACT'], dtype=object),
 array(['Wichita Falls', 'SPS'], dtype=object),
 array(['Salt Lake City', 'SLC'], dtype=object),
 array(['Blacksburg', 'BCB'], dtype=object),
 array(['Burlington', 'BTV'], dtype=object),
 array(['Lynchburg', 'LYH'], dtype=object),
 array(['Norfolk', 'ORF'], dtype=object),
 array(['Richmond', 'RIC'], dtype=object),
 array(['Roanoke', 'ROA'], dtype=object),
 array(['Wallops Island', 'WAL'], dtype=object),
 array(['Washington', 'DCA'], dtype=object),
 array(['Deer Park', 'DEW'], dtype=object),
 array(['Ephrata', 'EPH'], dtype=object),
 array(['Olympia', 'OLM'], dtype=object),
 array(['Quillayute', 'UIL'], dtype=object),
 array(['Seattle', 'SEA'], dtype=object),
 array(['Spokane', 'GEG'], dtype=object),
 array(['Yakima', 'YKM'], dtype=object),
 array(['Beckley', 'BKW'], dtype=object),
 array(['Charleston', 'CRW'], dtype=object),
 array(['Elkins', 'EKN'], dtype=object),
 array(['Huntington', 'HTS'], dtype=object),
 array(['Green Bay', 'GRB'], dtype=object),
 array(['La Crosse', 'LSE'], dtype=object),
 array(['Madison', 'MSN'], dtype=object),
 array(['Milwaukee', 'MKE'], dtype=object),
 array(['Casper', 'CPR'], dtype=object),
 array(['Cheyenne', 'CYS'], dtype=object),
 array(['Lander', 'LND'], dtype=object),
 array(['Rawlins', 'RWL'], dtype=object),
 array(['Sheridan', 'SHR'], dtype=object),
 array(['Birmingham', 'BHM'], dtype=object),
 array(['Huntsville', 'HSV'], dtype=object),
 array(['Mobile', 'MOB'], dtype=object),
 array(['Montgomery', 'MGM'], dtype=object),
 array(['Anchorage', 'ANC'], dtype=object),
 array(['Annette', 'ANN'], dtype=object),
 array(['Bethel', 'BET'], dtype=object),
 array(['Bettles', 'BTT'], dtype=object),
 array(['Cold Bay', 'CDB'], dtype=object),
 array(['Cordova', 'CDV'], dtype=object),
 array(['Delta Junction/Ft Greely', 'BIG'], dtype=object),
 array(['Fairbanks', 'FAI'], dtype=object),
 array(['Gulkana', 'GKN'], dtype=object),
 array(['Gustavus', 'GST'], dtype=object),
 array(['Homer', 'HOM'], dtype=object),
 array(['Iliamna', 'ILI'], dtype=object),
 array(['Juneau', 'JNU'], dtype=object),
 array(['Kenai', 'ENA'], dtype=object),
 array(['Ketchikan', 'KTN'], dtype=object),
 array(['King Salmon', 'AKN'], dtype=object),
 array(['Kodiak', 'ADQ'], dtype=object),
 array(['Kotzebue', 'OTZ'], dtype=object),
 array(['Mc Grath', 'MCG'], dtype=object),
 array(['Nome', 'OME'], dtype=object),
 array(['Northway', 'ORT'], dtype=object),
 array(['Palmer', 'PAQ'], dtype=object),
 array(['Petersburg', 'PSG'], dtype=object),
 array(['Puntilla Lake', 'PTI'], dtype=object),
 array(['Shemya', 'SYA'], dtype=object),
 array(['Sitka', 'SIT'], dtype=object),
 array(['Skagway', 'SGY'], dtype=object),
 array(['St Paul Island', 'SNP'], dtype=object),
 array(['Talkeetna', 'TKA'], dtype=object),
 array(['Tanana', 'TAL'], dtype=object),
 array(['Utqiagvik (Barrow)', 'BRW'], dtype=object),
 array(['Yakutat', 'YAK'], dtype=object),
 array(['Douglas Bisbee', 'DUG'], dtype=object),
 array(['Kingman', 'IGM'], dtype=object),
 array(['Phoenix', 'PHX'], dtype=object),
 array(['Tucson', 'TUS'], dtype=object),
 array(['Winslow', 'INW'], dtype=object),
 array(['Fort Smith', 'FSM'], dtype=object),
 array(['Harrison', 'HRO'], dtype=object),
 array(['North Little Rock', 'LZK'], dtype=object),
 array(['Bakersfield', 'BFL'], dtype=object),
 array(['Bishop', 'BIH'], dtype=object),
 array(['China Lake', 'NID'], dtype=object),
 array(['Concord', 'CCR'], dtype=object),
 array(['Eureka', 'EKA'], dtype=object),
 array(['Fresno', 'FAT'], dtype=object),
 array(['Hayward', 'HWD'], dtype=object),
 array(['Long Beach', 'LGB'], dtype=object),
 array(['Los Angeles', 'LAX'], dtype=object),
 array(['Red Bluff', 'RBL'], dtype=object),
 array(['Redding', 'RDD'], dtype=object),
 array(['Sacramento', 'SAC'], dtype=object),
 array(['Salinas', 'SNS'], dtype=object),
 array(['San Diego', 'SAN'], dtype=object),
 array(['San Francisco', 'SFO'], dtype=object),
 array(['Sandberg', 'SDB'], dtype=object),
 array(['Santa Barbara', 'SBA'], dtype=object),
 array(['Santa Maria', 'SMX'], dtype=object),
 array(['Stockton', 'SCK'], dtype=object),
 array(['Alamosa', 'ALS'], dtype=object),
 array(['Colorado Springs', 'COS'], dtype=object),
 array(['Craig', 'CAG'], dtype=object),
 array(['Denver', 'DEN'], dtype=object),
 array(['Grand Junction', 'GJT'], dtype=object),
 array(['Pueblo', 'PUB'], dtype=object),
 array(['Bridgeport', 'BDR'], dtype=object),
 array(['Windsor Locks', 'BDL'], dtype=object),
 array(['Newark', 'NWK'], dtype=object),
 array(['Wilmington', 'ILG'], dtype=object),
 array(['Daytona Beach', 'DAB'], dtype=object),
 array(['Fort Lauderdale', 'FLL'], dtype=object),
 array(['Gainesville', 'GNV'], dtype=object),
 array(['Jacksonville', 'JAX'], dtype=object),
 array(['Key West', 'EYW'], dtype=object),
 array(['Miami', 'MIA'], dtype=object),
 array(['Orlando', 'MCO'], dtype=object),
 array(['Pensacola', 'PNS'], dtype=object),
 array(['Tallahassee', 'TLH'], dtype=object),
 array(['Tampa', 'TPA'], dtype=object),
 array(['Vero Beach', 'VRB'], dtype=object),
 array(['West Palm Beach', 'PBI'], dtype=object),
 array(['Alma', 'AMG'], dtype=object),
 array(['Athens', 'AHN'], dtype=object),
 array(['Atlanta', 'ATL'], dtype=object),
 array(['Augusta', 'AGS'], dtype=object),
 array(['Macon', 'MCN'], dtype=object),
 array(['Savannah', 'SAV'], dtype=object),
 array(['Hilo', 'ITO'], dtype=object),
 array(['Honolulu', 'HNL'], dtype=object),
 array(['Kahului', 'OGG'], dtype=object),
 array(['Kaunakakai', 'MKK'], dtype=object),
 array(['Lihue', 'LIH'], dtype=object),
 array(['Boise', 'BOI'], dtype=object),
 array(['Lewiston', 'LWS'], dtype=object),
 array(['Pocatello', 'PIH'], dtype=object),
 array(['Chicago', 'ORD'], dtype=object),
 array(['Moline', 'MLI'], dtype=object),
 array(['Peoria', 'PIA'], dtype=object),
 array(['Quincy', 'UIN'], dtype=object),
 array(['Rockford', 'RFD'], dtype=object),
 array(['Springfield', 'SPI'], dtype=object),
 array(['Evansville', 'EVV'], dtype=object),
 array(['Fort Wayne', 'FWA'], dtype=object),
 array(['Indianapolis', 'IND'], dtype=object),
 array(['South Bend', 'SBN'], dtype=object),
 array(['Cedar Rapids', 'CID'], dtype=object),
 array(['Des Moines', 'DSM'], dtype=object),
 array(['Dubuque', 'DBQ'], dtype=object),
 array(['Sioux City', 'SUX'], dtype=object),
 array(['Waterloo', 'ALO'], dtype=object),
 array(['Concordia', 'CNK'], dtype=object),
 array(['Dodge City', 'DDC'], dtype=object),
 array(['Goodland', 'GLD'], dtype=object),
 array(['Medicine Lodge', 'P28'], dtype=object),
 array(['Topeka', 'TOP'], dtype=object),
 array(['Wichita', 'ICT'], dtype=object),
 array(['Covington', 'CVG'], dtype=object),
 array(['Jackson', 'JKL'], dtype=object),
 array(['Lexington', 'LEX'], dtype=object),
 array(['Louisville', 'SDF'], dtype=object),
 array(['Paducah', 'PAH'], dtype=object),
 array(['Baton Rouge', 'BTR'], dtype=object),
 array(['Lake Charles', 'LCH'], dtype=object),
 array(['New Orleans', 'MSY'], dtype=object),
 array(['Shreveport', 'SHV'], dtype=object),
 array(['Bangor', 'BGR'], dtype=object),
 array(['Caribou', 'CAR'], dtype=object),
 array(['Portland', 'PWM'], dtype=object),
 array(['Baltimore', 'BWI'], dtype=object),
 array(['Salisbury', 'SBY'], dtype=object),
 array(['Boston', 'BOS'], dtype=object),
 array(['Milton', 'MQE'], dtype=object),
 array(['Worcester', 'ORH'], dtype=object),
 array(['Alpena', 'APN'], dtype=object),
 array(['Detroit', 'DTW'], dtype=object),
 array(['Flint', 'FNT'], dtype=object),
 array(['Grand Rapids', 'GRR'], dtype=object),
 array(['Houghton Lake', 'HTL'], dtype=object),
 array(['Lansing', 'LAN'], dtype=object),
 array(['Marquette', 'MQT'], dtype=object),
 array(['Muskegon', 'MKG'], dtype=object),

# iloc

In [37]:
df.iloc[20:30,0:5]

    Data.Precipitation   Date.Full  Date.Month  Date.Week of  Date.Year
20                0.10  2016-01-03           1             3       2016
21                0.01  2016-01-03           1             3       2016
22                0.08  2016-01-03           1             3       2016
23                0.00  2016-01-03           1             3       2016
24                0.40  2016-01-03           1             3       2016
25                0.00  2016-01-03           1             3       2016
26                0.00  2016-01-03           1             3       2016
27                0.00  2016-01-03           1             3       2016
28                0.37  2016-01-03           1             3       2016
29                0.55  2016-01-03           1             3       2016

In [34]:
df.loc[20:30]

,Data.Precipitation,Date.Full,Date.Month,Date.Week of,Date.Year,Station.City,Station.Code,Station.Location,Station.State,Data.Temperature.Avg Temp,Data.Temperature.Max Temp,Data.Temperature.Min Temp,Data.Wind.Direction,Data.Wind.Speed
20,0.10,2016-01-03,1,3,2016,Kotzebue,OTZ,"Kotzebue, AK",Alaska,27,33,20,11,11.76
21,0.01,2016-01-03,1,3,2016,Mc Grath,MCG,"Mc Grath, AK",Alaska,30,39,20,15,3.70
22,0.08,2016-01-03,1,3,2016,Nome,OME,"Nome, AK",Alaska,29,32,25,6,12.86
23,0.00,2016-01-03,1,3,2016,Northway,ORT,"Northway, AK",Alaska,0,8,-9,20,0.36
24,0.40,2016-01-03,1,3,2016,Palmer,PAQ,"Palmer, AK",Alaska,37,42,32,8,10.50
25,0.00,2016-01-03,1,3,2016,Petersburg,PSG,"Petersburg, AK",Alaska,60,60,60,18,1.83
26,0.00,2016-01-03,1,3,2016,Puntilla Lake,PTI,"Puntilla Lake, AK",Alaska,60,60,60,0,0.00
27,0.00,2016-01-03,1,3,2016,Shemya,SYA,"Shemya, AK",Alaska,60,60,60,0,0.00
28,0.37,2016-01-03,1,3,2016,Sitka,SIT,"Sitka, AK",Alaska,43,46,39,19,11.26
29,0.55,2016-01-03,1,3,2016,Skagway,SGY,"Skagway, AK",Alaska,38,42,33,14,5.20
30,0.15,2016-01-03,1,3,2016,St Paul Island,SNP,"St Paul Island, AK",Alaska,32,35,29,22,9.03

In [38]:
df.iloc[20:30,0:5].values

array([[0.1, '2016-01-03', 1, 3, 2016],
       [0.01, '2016-01-03', 1, 3, 2016],
       [0.08, '2016-01-03', 1, 3, 2016],
       [0.0, '2016-01-03', 1, 3, 2016],
       [0.4, '2016-01-03', 1, 3, 2016],
       [0.0, '2016-01-03', 1, 3, 2016],
       [0.0, '2016-01-03', 1, 3, 2016],
       [0.0, '2016-01-03', 1, 3, 2016],
       [0.37, '2016-01-03', 1, 3, 2016],
       [0.55, '2016-01-03', 1, 3, 2016]], dtype=object)

In [39]:
df.iloc[20:30,0:5].index

RangeIndex(start=20, stop=30, step=1)

In [42]:
list(df.iloc[20:30,0:5].values)[1:]

[array([0.01, '2016-01-03', 1, 3, 2016], dtype=object),
 array([0.08, '2016-01-03', 1, 3, 2016], dtype=object),
 array([0.0, '2016-01-03', 1, 3, 2016], dtype=object),
 array([0.4, '2016-01-03', 1, 3, 2016], dtype=object),
 array([0.0, '2016-01-03', 1, 3, 2016], dtype=object),
 array([0.0, '2016-01-03', 1, 3, 2016], dtype=object),
 array([0.0, '2016-01-03', 1, 3, 2016], dtype=object),
 array([0.37, '2016-01-03', 1, 3, 2016], dtype=object),
 array([0.55, '2016-01-03', 1, 3, 2016], dtype=object)]

In [ ]:
integer + loc